<h2><%= @topic.title %></h2>
  <div class="row">
    <% if @bookmarks.any? %>
      <% @bookmarks.each do |bookmark| %>
        <div class = "col-md-3">
          <p class="bg-info"><%= link_to bookmark.url, bookmark %></p>
          <div class="row">
            <%= render partial: 'likes/like', locals: {bookmark: bookmark } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class = "col-md-6">
        There are no URLs associated with this topic yet.
      </div>
    <% end %>
  </div>
  <br>
  <div class = "row pay pan7 text-center">
    <%= link_to "Delete Topic", @topic, method: :delete, data: {confirm: 'Are you sure you want to delete this topic!?'}, class: 'btn btn-danger' %>
  </div>
  <br>
  <div>
    <%= link_to "Back", topics_path %>
  </div>
